a {
    color: #000;
    border-bottom: 1px dotted #333;
    text-decoration: none;
}

header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    background: #444;
    color: #fff;
}

header h1 {
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
    text-shadow: 2px 2px #000;
}

header h1 img {
    width: 125px;
}

.page {
    padding: 0 5%;
    display: none;
    margin-bottom: 30px;
    min-height: 80vh;
}

.page.active {
    display: block;
}

.intro {
    padding-top: 40%;
}

.intro .button,
.intro input {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.intro input[type=text] {
    font-size: 16px;
}

.modal .place-component,
.app li {
    padding: 10px 0;
    margin: 5px 0;
    position: relative;
    line-height: 1.4em;
    padding-right: 25px;
    overflow: hidden;
}

.modal .distance,
.app .distance {
    line-height: 1.6em;
}

.app li h2 {
    font-size: 15px;
}

.app li .rating {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    color: #fff;
    font-weight: bold;
    padding: 5px;
    width: 26px;
    text-align: center;
    line-height: 14px;
    text-shadow: 1px 1px #000;
}

.app li .rating:before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    right: -1px;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 28px solid #444;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    z-index: -1;
}

.app .list-header {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.app .places-list .list-header.rated,
.app .places-list.inverse .list-header.unrated {
    display: none;
}

.app .places-list .list-header.unrated,
.app .places-list.inverse .list-header.rated {
    display: block;
}

.app .places-list.inverse li[data-isRated] {
    display: none;
    opacity: 0;
}

.app .places-list.inverse li[data-isRated='true'] {
    display: block;
    opacity: 1;
}

.app .places-list.inverse {
    opacity: 0.7;
}

.places-list li[data-isRated='true'] {
    display: none;
    opacity: 0;
}

#add-place-view {
    background-image: url('../img/icon-plus.png');
    background-repeat: no-repeat;
    background-size: 22px 20px;
    background-position: 10px 6px;
}

#toggle-list-view {
    background-image: url('../img/icon-list.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 8px 5px;
}

#toggle-list-view.inverse .rated,
#toggle-list-view .unrated {
    display: none;
}

#toggle-list-view .rated,
#toggle-list-view.inverse .unrated {
    display: inline;
}

.modal-bg {
    background: rgba(0, 0, 0, 0.45);
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}

.modal {
    border-radius: 3px;
    position: fixed;
    width: 90%;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-left: -45%;
    margin-top: -150px;
    z-index: 12;
    background-color: #fff;
    padding: 10px;
    border: solid 1px #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-animation-name: superScaleIn;
    animation-name: superScaleIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: none;
}

.modal.close {
    -webkit-animation-name: scaleOut;
    animation-name: scaleOut;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal .modal-header {
    font-size: 2em;
    margin: 0 0 15px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    text-shadow: 1px 1px #ccc;
}

.modal input[type="text"] {
    width: 100%;
}

.modal .add-place-component {
    margin: 15px 0;
}

.modal .button {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
}

.modal .button.left {
    left: 6px;
}

.modal .close-modal {
    color: #aaa;
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    font-size: 14px;
    padding: 10px;
    top: 0;
    right: 0;
}

#place-details-modal label {
    font-size: 2em;
    line-height: 1.5em;
}

#place-details-modal input {
    width: 60px;
    font-size: 2em;
    float: right;
}

#place-rated-modal .individual-ratings {
    font-size: 16px;
    line-height: 20px;
}

#place-rated-modal .each-rating {
    font-size: 13px;
    line-height: 18px;
}

#place-rated-modal .each-rating .label {
    margin-left: 30px;
}

#place-rated-modal .each-rating .label:first-child {
    margin-left: 0;
}

#place-rated-modal .each-rating .username {
    width: 80px;
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/***** 
    Helpers 
*****/
.bar {
    border: none;
    background-image: linear-gradient(0deg, #000, #ccc 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.border-top {
    border-top: 1px solid #777;
}

.border-top:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: -2px;
    border-top: 1px solid #ccc;
}

.alert {
    border-radius: 2px;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    min-height: 23px;
    position: relative;
    margin-top: 10px;
}

.alert[data-color='blue'] {
    background: #11c1f3;
    border: 1px solid #0a9ec7;
}

.alert[data-color='red'] {
    background: #ef473a;
    border: 1px solid #e42012;
}

.alert-content {
    padding-right: 25px;
}

.alert-close {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    padding: 10px;
}

.list-active {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
}

.button {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 34px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 34px;
    cursor: pointer;
    outline: 0;
    text-shadow: 1px 1px #000;
}

.button.disabled {
    pointer-events: none;
    opacity: .7;
}

.button:after {
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    content: ' ';
}

.button-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border-color: #111;
    background-color: #444;
    color: #fff;
}

.button-bar > .button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    padding: 0 16px;
    width: 0;
    border-width: 1px 0px 1px 1px;
    border-radius: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.button-bar > .button:first-child {
  border-radius: 2px 0px 0px 2px;
}

.button-blue {
    border-color: #0c63ee;
    background-color: #387ef5;
    color: #fff;
}

.button-blue.active {
    border-color: #0c63ee;
    background-color: #0c63ee;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button-black {
    border-color: #111;
    background-color: #444;
    color: #fff;
}

.button-black.active,
.button-black:active {
    border-color: #000;
    background-color: #262626;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button-red {
    border-color: #e42012;
    background-color: #ef473a;
    color: #fff;
}

.button-red.active {
    border-color: #e42012;
    background-color: #e42012;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    margin: 0;
    font-size: 100%;
    font-family: inherit;
    outline-offset: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-font-smoothing: inherit;
    background-image: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
    padding-top: 2px;
    padding-left: 5px;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1; }

  to {
    -webkit-transform: scale(0.8);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1; }

  to {
    transform: scale(0.8);
    opacity: 0; } }

@-webkit-keyframes superScaleIn {
  from {
    -webkit-transform: scale(1.2);
    opacity: 0; }

  to {
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes superScaleIn {
  from {
    transform: scale(1.2);
    opacity: 0; }

  to {
    transform: scale(1);
    opacity: 1; } }


.clearfix {
    *zoom:1;
}

.clearfix:before,
.clearfix:after{
    display:table;
    line-height:0;
    content:"";
}

.clearfix:after{
    clear:both;
}

